<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Conte-me sua história</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<form  action="//formspree.io/contato@wanjaguerra.adv.br" method="POST" name="sentMessage" id="contactForm" novalidate>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Nome</label>
							<input type="text" name="nome" class="form-control" placeholder="Nome" id="nome" required data-validation-required-message="Favor fornecer seu nome.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Email</label>
							<input type="email" name="_replyto" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Favor fornecer seu email.">
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<div>
						<input type="hidden"  name="_subject" value="Novo contato website">
						<input type="text" name="_gotcha" style="display:none" />
					</div>
					<div class="row control-group">
						<div class="form-group col-xs-12 floating-label-form-group controls">
							<label>Messagem</label>
							<textarea rows="5" name="message" class="form-control" placeholder="Messagem" id="message" required data-validation-required-message="Favor preencher com sua mensagem."></textarea>
							<p class="help-block text-danger"></p>
						</div>
					</div>
					<br>
					<div id="success"></div>
					<div class="row">
						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-success btn-lg">enviar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
