    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Advocacia Boutique</span>
                        
                        <span class="skills">Na advocacia boutique todo cliente é VIP. Quer saber como?</span> <br/>
                        <a href="#portfolioModal-7" class="btn btn-lg btn-outline" data-toggle="modal">
                         QUERO SER VIP!
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </header>